:root
{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
 --mainDark: #232528;
  --mainyellow: #ffa400;

}
body
{
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.title-text
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
.text-bright
{
  color: var(--mainWhite);
}
.text-dark
{
  color: var(--mainDark);
}
.text-blue
{
  color: royalblue;
}
